{% extends 'base.html' %}


{% block content %}
{{ super() }}
<div class="courses_block">
    {% for p in courses %}
        <div class="courses_element">
            <p class="title">
                <a href="{{ url_for('show_post', id_courses=p.id) }}">{{ p.title }}</a>
            </p>
            <h1 class="price">{{ p.price }}</h1>
            {% if p.id == 1 %}
                <p class="text_courses">{{ p.text[:205] }}</p>
            {% elif p.id == 2 %}
                <p class="text_courses">{{ p.text[:169] }}</p>
            {% elif p.id == 3 %}
                <p class="text_courses">{{ p.text[:192] }}</p>
            {% endif %}
                <button class="button courses">Купить</button>
        </div>
    {% endfor %}
</div>
{% endblock content %}
